html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  display: table;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(229, 208, 208);
}

body {
  display: table-cell;
  max-width: 900px;
  background-color: white;
}

header {
  padding: 20px;
  background-color: #ffb8b8;
  position: relative;
  z-index: 1;
}
header h1 {
  margin: 0;
  font-size: 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fc3b3b;
}

#intro {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#intro-pic {
  height: 450px;
  width: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  left: -40px;
  top: -40px;
  border-radius: 50%;
}
#intro-text {
  display: flex;
  flex-direction: column;
  margin: auto 10px;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#intro-text p {
  margin: 15px 0;
}
#intro-text #contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}
#intro-text #contacts a {
  text-decoration: none;
  transition: 200ms;
}
#intro-text #contacts a:hover {
  filter: brightness(0.8);
}
#intro-text #contacts a:active {
  filter: brightness(0.6);
}
#intro-text #contacts img#mail-svg {
  height: 34px;
  color: #6e9cb3;
  filter: invert(66%) sepia(14%) saturate(862%) hue-rotate(155deg) brightness(87%) contrast(90%);
}
#intro-text #contacts svg#linkedin-svg {
  height: 32px;
  color: #0a66c2;
}
#intro-text #contacts img#github-svg {
  height: 29px;
}
#view-cv {
  background-color: #fc3b3b;
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 0 rgb(136, 52, 52);
  transition: 200ms;
}
#view-cv:hover {
  background-color: #cf3131;
}
#view-cv:active {
  background-color: #a32626;
}
#view-cv a {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

@media (max-width: 733px) {
  #intro {
    flex-direction: column;
  }
  #intro-pic {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    border-radius: 10%;
    position: static;
  }
  #intro-text {
    margin: 0 10%;
    align-content: center;
    text-align: center;
  }
  #intro-text #contacts {
    justify-content: center;
  }
}
